go 1.26.1

use (
	./src/adservice
	./src/cartservice
	./src/checkoutservice
	./src/common
	./src/currencyservice
	./src/frontend
	./src/paymentservice
	./src/productcatalogservice
	./src/shippingservice
)
