go 1.25.0

use (
	./infra/xgrpc
	./src/adservice
	./src/cartservice
	./src/checkoutservice
	./src/currencyservice
	./src/frontend
	./src/paymentservice
	./src/productcatalogservice
	./src/shippingservice
)
